
.header-section {
  height: 500px;
  /* max-height: 600px; */
  width: 100%;
  background-color: hsla(200,40%,30%,.4);

  background-image:

    url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
    url('/assets/img/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
    url('/assets/img/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');

  background-repeat: repeat-x;
  background-position: 

    0 200px,
    0 100%,
    0 30%,
    0 100%,
    0 30%;

  background-size: 
    1200px,
    2000px,
    500px 200px,
    1500px,
    400px 260px;
  animation: 50s para infinite linear;

  display: inline-block;
  }

@keyframes para {
  0% {
    background-position: 

      2000px 200px,
      -300px 100%,
      250px 30%,
      500px 50%,
      200px 30%;
    }
  }
.page-heading {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}